name: Build latest app
on:
  push:
#    branches:
#      - main
  workflow_dispatch:

jobs:
  build:
    name: Create executable archive
    runs-on: ubuntu-latest
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Install Dependencies
        run: composer install --no-dev
      - name: Download phar builder
        run: wget https://github.com/clue/phar-composer/releases/download/v1.3.0/phar-composer-1.3.0.phar -O phar-composer.phar
      - name: Create PHAR
        run: php -d phar.readonly=off phar-composer.phar build . gog-downloader.phar
      - name: Rename
        run: mv gog-downloader.phar gog-downloader
      - name: Create artifact
        if: ${{ !env.ACT }}
        uses: actions/upload-artifact@v2
        with:
          name: gog-downloader
          path: gog-downloader
      - name: Create Windows setup
        run: docker run --rm -i -v $(pwd):/work:rw -u $(id -u):$(id -g) amake/innosetup setup.iss
      - name: Create artifact
        if: ${{ !env.ACT }}
        uses: actions/upload-artifact@v2
        with:
          name: GogDownloaderSetup.exe
          path: GogDownloaderSetup.exe
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: rikudousage
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          tags: rikudousage/gog-downloader:dev
          push: true
